# Rename this file to .env and add your own values

# Ballchasing
BALLCHASING_API_KEY=your_ballchasing_api_key

# AWS Credentials
AWS_DATA_ACCESS_KEY=your_aws_access_key
AWS_DATA_SECRET_KEY=your_aws_secret_key
AWS_REGION=your_aws_region

AWS_DATA_BUCKET_NAME=your_aws_data_bucket_name
AWS_MODELS_BUCKET_NAME=your_aws_models_bucket_name